.row
	margin 0 -15px
	display flex
	flex-wrap wrap

.equal
	flex-basis 0
	flex-grow 1
	max-width 100%
	padding 0 15px

.col
	flex 0 0 100%
	max-width 100%

for size in 'xs' 's' 'm' 'l' 'xl' 'xxl'
	+above(size)
		.{size}-equal
			flex-basis 0
			flex-grow 1
			max-width 100%
	for len in (1..grid-length)
		.{size}-{len}
			flexgridpadding()
		+above(size)
			.{size}-{len}
				flexgrid(len)
			.push-{size}-{len}
				push(len)

.nogutter
	padding 0
	margin 0
