code
	background-color background-light-grey
	color color-pink
	padding .3rem .5rem
	border-radius border-radius-normal
	font-family font-family-code
	line-height 1.4rem
	font-size .8rem
	font-weight 500

p
	code
		margin 0 .3rem

.message
	code
		background-color rgba(0,0,0,.06)
