@import 'jeet'
@import 'nib'
@import 'rupture'
@import 'modules/variables'

#app
  width 100%
  min-height 100%
  height 100%
  & > div
    width 100%
    height 100%

.squared
  border-radius 0 !important
  text-align center

.dimmed
  absolute top left
  height 100%
  width 100%
  z-index 800
  content ' '
  background-color rgba(0,0,0,.5)
  display block
  border-radius border-radius-normal
  &.inverted
    background-color rgba(255,255,255,.5)
  .loader
    z-index 900
    display block

.main-content
  padding-bottom 6rem
  +below('m')
    padding-top 3.4rem
    padding-bottom 18rem
  &:before
    width 100%
    fixed top left
    content ''
    background linear-gradient(top right, color-blue, light-color-blue)
    z-index 4000
    height 2px
  position relative
  min-height 100%
  width 100%
  .page
    padding 35px 0
    cf()

.label.green + h1
  margin-top .7rem

.hero
  text-align center
  padding 4.4em 0 7em 0
  relative top left
  min-height 100%
  height 100%
  width 100%
  background-color #fff
  h1
    margin -.5rem 0
    font-weight 400
    font-size 5.4rem
    line-height 1.4em
    img
      height 80px
      pointer-events none
      user-select none
  h3
    font-weight 400
    color text-default
    max-width 73%
    display block
    margin .4rem auto
    letter-spacing 0
  +below('m')
    h1
      font-size font-size-h2
      img
        height 60px
    h3
      max-width 100%
      font-size font-size-h4
    .button-group
      margin-top 0
      .button
        margin 1rem 0 0 0 !important

.button-group
  margin-top 2rem
  .labeled-right
    padding-right 4.8rem !important
  i
    line-height 3.8rem !important
    font-size 1.5rem !important
    width 3.3rem
  .button + .button
    margin-left 2rem

.dent
  background-color #fff
  &-cover
    padding 7rem 0 7rem 0
    background-color color-primary
  &-container
    background-color transparent
    padding 0
    &.light
      background-color #fff
      .dent
        background-color color-primary
      .dent-cover
        padding 7rem 0 7rem 0
        background-color #fff
    &.bg
      background-color #fff
      .dent
        background-color #fff
      .dent-cover
        padding 7rem 0 7rem 0
        background-color #F9FBFC

section.about, section.size, section.boilerplate
  cf()
  position relative

section:not(.guide)
  p, .item
    font-size font-size-hero
    line-height 1.8em

section.boilerplate
  text-align center
  .contain
    a
      line-height 2.2rem
      font-weight 500
      margin-top 1rem
      display block
      font-size font-size-hero
      i
        margin-left .4rem
    img
      max-width 52%
      display block
      margin 3rem auto 0 auto
      +below('m')
        max-width 80%

section.features, section.boilerplate
  & .contain > p
    max-width 73%
    display block
    margin 0 auto
    +below('m')
      max-width 100%

section.size
  overflow hidden
  ul
    display inline-block
    .button
      margin 1.2rem 0 1rem -1rem
  h2, h3
    color #fff
  p
    color lighten(color-primary, 80%)
  .dent-cover
    padding 7rem 0 7rem 0
    position relative

  .item
    color lighten(color-primary, 80%)
    line-height 1.7rem
  .slide
    height 100%
    padding 8rem 0
    absolute right 0 top 0
    width 36%
    pre
      height 100%
      background-color #1f2333
      padding 2.4rem
      border-radius 8px 0 0 8px
      box-shadow -6px 4px 20px 3px rgba(34,36,38,0.35)
      position relative
      line-height 2.2rem

      font-family font-family-code
      white-space pre-wrap
      code
        height 100%
        border-radius 0
        background-color transparent
        color #48d8a0
        padding 0
        line-height 2.2rem
        font-size font-size-standard
      .muted
        display block
        color lighten(#1f2333, 80%)
        &.bottom
          absolute bottom 2.3rem
          a
            color #fff
            text-decoration underline
  +below('m')
    .slide
      position relative
      width 100%
      padding 3rem 1rem 0 1rem
      pre
        border-radius border-radius-normal
        font-size font-size-standard
        min-height 20rem
        line-height 1.8rem
        code
          font-size font-size-standard
          line-height 1.8rem


section.features
  cf()
  background-color #fff
  text-align center
  .row
    display flex
    position relative
    flex-direction row
    flex-wrap wrap
    align-items stretch
    overflow visible
    +below('m')
      margin 0
    p
      line-height 2rem

.grid
  cf()
  padding 4em 0
  background-color background-lightest-grey

.column
  padding 0 2em
  margin-top 3.8rem
  +below('m')
    padding 0
    margin-top 2.2rem
  .inner
    padding 3rem
    border-radius 8px
    background-color #F9FBFC
    +below('m')
      padding 2.4rem
  h4
    margin 0 0 .4rem 0
  p
    flex 1 0 auto
    margin 0 0 1.4em 0
  .icon
    font-size 5em
    margin 0 0 .24em 0
    display block
  .button
    flex-grow 0

.block-grey, .block-yellow, .block-green, .block-purple
  width 5rem
  height 5rem
  border-radius 4px
  display block

.block-grey
  background-color lighten(color-primary, 30%)
  border 2px solid color-primary
  width 100%
  line-height 2.7rem
  padding 1rem 2rem
  font-size font-size-standard
  font-weight 500
  margin .5rem 0
  color #fff
  border-radius 0
  +below('m')
    font-size font-size-small
    padding 1rem

.block-yellow
  background-color lighten(color-yellow, 60%)
  border 2px solid color-yellow
  border-radius 0

.block-green
  background-color lighten(color-green, 60%)
  border 2px solid color-green
  border-radius 0

.block-purple
  background-color lighten(color-purple, 60%)
  border 2px solid color-purple
  border-radius 0

.show-grid
  & > *
    padding-top 15px
  .block-grey
    width 100%
    height 4rem

.show-tables > .table
  margin 20px 0

.inputs
  .input
    & + .input
      margin-top 1.5rem

.show-cards
  margin 12px 0
  & > .card:not(.fluid)
    margin-right 20px

.show-lists > .list
  margin 20px 0 0 0

.show-progress > .progress
  margin 6px 0

.y-block
  background-color #FFC82C
  width 100px
  height 100px
  border-radius 3px
  display block
  content ''

.guide
  padding 3rem 0 6rem 0
  .contain
    & > h3
      margin-bottom 1rem
    & + .contain
      margin-top 4em
  .stages
    .header
      line-height 2.6rem
      font-size font-size-h5
    .stage
      overflow-x auto
      padding 1.9rem 2.8rem
      +below('m')
        padding 1rem 1.8rem
    .content, .item
      line-height 1.8rem

.explanation
  margin-bottom 1em
  position relative
  width 100%
  .view-source
    color link-light
    cursor pointer
    font-size font-size-h6
    absolute top .7rem right
    border-radius 50%
    text-align center
    &:hover
      color link-light-hover
    &.active
      color color-primary
      background-color #fff
  small
    display block
    color text-default
  p
    display block
    line-height 1.8rem
    & + p
      margin .4em 0 0 0

.module
  position relative
  border 1px solid border-grey
  border-radius border-radius-normal
  margin 1em 0
  padding 1.3em
  background-color #fff
  cf()
  .avoid
    margin 0
  .section
    margin -1em 0
    padding 1.3em
    overflow auto
    display block
    & + .section
      border-top 1px solid border-grey
  .antiScroll
    overflow hidden
    margin 0 -1.8em
    cf()
    .section::-webkit-scrollbar
      display none
    &:first-child
      margin-top -1.6em
    &:last-child
      margin-bottom -1.6em
    padding 1em 0
    small
      color text-default
      display block
      margin .8em 0 0 0
      font-weight 300
    & + .antiScroll
      border-top 1px solid border-grey
  small
    display block
    margin-top 6.6rem
    color text-default
  img
    max-width 100%
.example
  padding 1rem 0
  cf()
  &:hover
    .view-source
      display block !important
  & + .example
    margin-top 1rem
  &.row
    width calc(100% + 30px)
    > *
      margin-top 6px
      margin-bottom 6px
    & ~ small
      margin-top 4rem
      display block
  &.menus
    .note
      margin 2em 0 0 0
      color text-default
    .note + .menu
      margin 2em 0 0 0
  &.types
    .progress + .progress
      margin-top 14px
  &.dropdowns
    overflow visible
    .stack + .stack
      margin-top 14px
  .message
    margin 0
  &.sizes
    .button + .button
      margin-left 1em
  &.tooltips
    .tooltip
      margin 0 1rem 0 0
    .demo
      .tooltip
        margin 3.5rem 1rem 3.2rem 0
        &:before
          transform rotate(45deg) scale(1) !important
          opacity 1 !important
        &:after
          transform scale(1) !important
  &.animations
    .group
      border 1px solid border-grey
      span(1/1)
      border-radius border-radius-normal
  .animation
    display inline-block
    padding 1.4em 1.4em 4.2em 1.4em
    position relative
    overflow hidden
    span(1/3)
    & + .animation
      border-left 1px solid border-grey
    &:nth-child(4n)
      border-left 0
      border-top 1px solid border-grey
    &:nth-child(5n)
      border-top 1px solid border-grey
    &:nth-child(6n)
      border-top 1px solid border-grey
    code
      absolute bottom left
      width 100%
      display block
      padding .7em 0
      text-align center
      margin 0
      color text-default
      border-radius 0
  .circle
    border-radius 50%
    height 4em
    width 4em
    background-color color-violet
    content ''
    display block
    margin 0 auto
    &:hover
      transform scale(1.2)
  .square
    border-radius 5px
    height 4em
    width 4em
    background-color color-yellow
    content ''
    display block
    margin 0 auto
  &.layout
    .block-grey
      width 5rem
      height 5rem
    .relative
      width 100%
      height 300px
  &.typeface
    .module
      padding 1.6em 1.8em
      p
        letter-spacing .3em
        & + p
          margin-top 1.3em
  &.alignment, &.transformtext
    .module
      p
        padding .7em
  &.stages
    margin-top 20px
  &.images
    .module > [class^='image-']
      & + span
        margin-left 9px
    img
      max-width 100%
      border-radius 10%
  &.labels
    .label
      margin .2rem
  &.loaders
    .module
      img + img
        margin-top 2em
      .hold
        align(both)
  .cards
    .card
      margin-top 12px
    & > .card:not(.fluid)
      margin-right 20px
  &.buttons
    .button
      margin .34em .6em .34em 0
  +below('m')
    overflow hidden

.breakavoid
  margin .5rem 0
  cf()

.text
  .col
    border-radius border-radius-normal
    padding 1em 1.2rem
    border 1px solid border-grey
    & + .col
      margin-top .5rem
  h5
    margin-top -.3rem
  strong
    display block
.schemes
  margin .5rem 0
  &.dark
    .scheme
      color text-default
    span
      color text-default !important
      color rgba(text-default,.7) !important
  .scheme
    padding 1em 1.2rem
    color #fff
    position relative
    p
      font-weight 500
      display block
      line-height 1.3rem
      color #fff
    span
      margin .4rem 0 0 0
      color #fff
      color rgba(255,255,255,.7)
      line-height 1.3rem
    &:first-child
      border-radius border-radius-normal 0 0 border-radius-normal
    &:last-child
      border-radius 0 border-radius-normal border-radius-normal 0

.breakpoints .module
  p + p
      margin-top 8px

.group + .group
  margin-top 1.8rem

.b-group
  margin-top 1.4rem

.module
  transition all 100ms cubic-bezier(0.16, 0.86, 0.44, 1)
  width 100%
  .accordion.module
    margin 0
  &.collapsed
    border 0
    padding 0
    margin 0
    background-color transparent
    .accordion.module
      margin 1em 0
    .footer:not(.content)
      display none
  & + .message
    margin-top 1.8rem
  .footer
    span(1/1)
    pre
      background-color #fff
      margin 1em -1.3em -1.3em -1.3em
      border-radius 0 0 border-radius-normal border-radius-normal
      padding 0
      border-top 1px solid border-grey
      tab-size 4
      overflow auto
    code
      padding 1.3em
      margin 0
      background-color transparent

.bg, .module .footer pre, .guide
  background-color #F9FBFC !important

.bind.bg
  background-color white !important

header.sidebar
  background-color white
  padding 1.8rem 0
  z-index 2300
  width 100%
  position relative
  .logo, .sub
    display inline-block
    vertical-align top
    relative top 2px
    cf()
    img
      max-height 23px
      width 90px
      pointer-events none
      user-select none
    p
      color #fff
      margin 0
  .links
    float right
    display inline-block
    vertical-align top
    &.left
      float none
      margin-left 2.3rem
    & > *
      display inline-block
      vertical-align top
    li
      & + li
        margin-left 2.3rem
      a
        color link-light
        cursor pointer
        line-height 1.7rem
        &:hover
          color link-light-hover
      &.active
        a
          color color-primary
  .toggle
    i
      display none
  +below('m')
    position fixed
    &.open
      background-color #F9FBFC
      border-bottom 2px solid border-grey
    .logo
      display block
    .toggle
      display block
      margin 0 auto
      i
        display inline-block
        vertical-align top
        margin-left 1rem
        color link-light
        relative top -2px
        font-size font-size-h4
        float right
      img
        display inline-block
        vertical-align top
      &:hover
        i
          color link-light-hover
    .links
      float left
      stack()
      margin 0 !important
      text-align center
      display none
      li
        stack()
        padding 2rem 0
        & + li
          margin 0
      a
        display block
        span(1/1)

.subbar
  top 49px
  background-color color-ash
  padding 13px 0
  color #fff
  width 100%
  z-index 2200

  .link
    margin 0
    padding 0
    line-height 1em
    float right
    a
      color #fff
      opacity .55
      &:hover
        opacity 1
      i
        margin-right 4px

aside.sidebar
  absolute right 210px
  float right
  cf()
  .fixed
    width 30%
    max-width 195px
    height 100%
    overflow auto
    .inner
      margin-top 130px
      overflow auto
      padding 0 1rem
  h6
    margin 0 0 .5em 0
  li
    padding .3rem 0
    display block
    a
      color link-light
      line-height 1.6em
      &:hover
        color link-light-hover
    &.active
      a
        color color-primary
  +below('m')
    position static
    float none
    .fixed
      position relative
      width 100%
      margin 2rem 0 0 0
      max-width 100%
      .inner
        margin 0
        padding 0 0 .4rem 0
        background-color transparent
        width 100%
        border-bottom 2px solid color-primary
        border-radius 0
        h6
          margin 0
          display none
      a.resources
        display inline-block
        vertical-align top
        padding .4rem
        float right
      ul
        display inline-block
        vertical-align top
        li
          display none
          &.active
            display block !important
            font-weight 500

.sidebar
  & + .page
    padding-right 230px
    +below('m')
      padding-right 0

.outer-title
  margin-bottom 1.8rem
  border-bottom 1px solid border-grey
  padding-bottom 1.4rem
  h3
    width 100%
  p
    font-size font-size-hero
    line-height 1.8rem
.log
  padding 0 0 0 12rem
  position relative
  .date
    absolute top 2.7rem left
    font-weight 500
    color text-default
  .inner
    border-top 1px solid border-grey
    padding 1.6rem 0
    h4
      margin 0 0 .5rem 0
    .label
      vertical-align middle
      relative top -2px
      margin-right .6rem
      line-height .86rem
      letter-spacing 0
    p
      line-height 1.8rem
      & + p
        margin-top .5rem
      & + h4
        margin-top 2rem
  +below('m')
    padding 0
    .date
      relative top 2.6rem
    .inner:not(.more)
      padding 4rem 0 1.6rem 0

footer.footer
  span(1/1)
  absolute bottom left
  background-color #fff
  padding 2.4rem 0
  .links
    li + li
      margin-left 2rem
    a
      color link-light
      &:hover
        color link-light-hover
  .madeby a
    &:hover
      color link-light-hover
  .cindr
    color color-primary
  +below('m')
    li
      stack()
      text-align center
      margin .7rem 0
      & + li
        margin-left 0 !important
      a
        display block
.wrap
  & + footer.footer
    position static
    margin 0

@keyframes puzzlebounce
  0%, 100%
    margin 0
  20%
    margin -20px 0 0 0
  80%
    margin 10px 0 0 0


.hljs
  display block
  overflow-x auto

.hljs,
.hljs-subst,
.nginx .hljs-title
  color text-default

.hljs-tag .hljs-title, .hljs-keyword
  color #4A709E

.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-name,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.pf .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attr,
.tp .hljs-variable
  color #426592

.hljs-string
  color color-primary
  font-weight 500

.hljs-attr
  color #4a89cc
